Repository honestyan/malas-commit: changes, and which Mergify rules are due for each by the changed paths.
All: javascript and typescript label, markdown label

javascript and typescript label:
  label:
    add:
    - javascript or typescript files
    - request tim untuk review

markdown label:
  label:
    add:
    - markdown files

[Chore] Removed unnecessary contributors from CODEOWNERS and .mergify.yml files.
  .github/CODEOWNERS
  .mergify.yml
Due: none

[Update] Updated recommended Node version in README.md to 16.0.1 or higher.
  README.md
Due: markdown label

[Fix] limit token exceeded ,should be no e v16 minimum ,init setConfig
  out/index.js
  out/services/commitService.js
  package.json
  src/index.ts
  src/services/commitService.ts
Due: javascript and typescript label

[Update] README.md, out/services/commitService.js, package.json, src/services/commitService.ts update documentation and code to include concise commit message guidelines.
  README.md
  out/services/commitService.js
  package.json
  src/services/commitService.ts
Due: javascript and typescript label, markdown label

[Update] Updates GeneratePullRequest functionality to include staging files and truncated diff.
  out/index.js
  out/services/commitService.js
  src/index.ts
  src/services/commitService.ts
Due: javascript and typescript label

[Update] (README.md, out/index.js, out/services/commitService.js, package.json, src/index.ts, src/services/commitService.ts) Improves coding conventions and readability of code
  README.md
  out/index.js
  out/services/commitService.js
  package.json
  src/index.ts
  src/services/commitService.ts
Due: javascript and typescript label, markdown label

[Fix] (commitService.js, package-lock.json, package.json, src/services/commitService.ts, tsconfig.json) Update dependencies and fix commit message generation.
  out/services/commitService.js
  package-lock.json
  package.json
  src/services/commitService.ts
  tsconfig.json
Due: javascript and typescript label

[Fix] Retry mechanism
  out/index.js
  out/services/commitService.js
  package.json
  src/index.ts
  src/services/commitService.ts
Due: javascript and typescript label

[Update] Added new dependencies, updated TypeScript configuration, and resolved errors in the `tsconfig.json` file.
  package-lock.json
  package.json
  tsconfig.json
Due: none

[Update] updated charLimit from 5500 to 5000.
  src/index.ts
Due: javascript and typescript label

[Update] updated package version number to 1.0.28.
  package.json
Due: none

[Update] updated package version to 1.0.29, changed char limit in diff handling code.
  out/index.js
  package.json
  src/index.ts
Due: javascript and typescript label

[Update] incremented package version to 1.0.30.
  package.json
Due: none

[Update] Better AI response
  src/services/commitService.ts
Due: javascript and typescript label

Update commitService.ts
  src/services/commitService.ts
Due: javascript and typescript label

feat: migrate to semantic commit
  out/services/commitService.js
  package.json
  src/services/commitService.ts
Due: javascript and typescript label

ref(docs): migrate to semantic commit
  README.md
Due: markdown label

fix: updated max character limit for diff to 20000
  out/index.js
  out/services/commitService.js
  package.json
  src/index.ts
  src/services/commitService.ts
Due: javascript and typescript label

fix: model deprecation
  out/api/groqClient.js
  src/api/groqClient.ts
Due: javascript and typescript label

fix: model deprecation
  package.json
Due: none

feat(build): add .js extension to import statements in post-build script
  .tsc-aliasrc.json
  add-js-extensions.js
  out/api/aiClient.js
  out/api/geminiClient.js
  out/api/groqClient.js
  out/config.js
  out/git/gitPrompt.js
  out/index.js
  out/services/commitService.js
  package.json
  src/api/aiClient.ts
  src/api/geminiClient.ts
  src/api/groqClient.ts
  src/config.ts
  src/services/commitService.ts
  test-fallback.js
  test-logic.js
  tests/commitService.test.ts
Due: javascript and typescript label

feat(config): add APIKEY-based char limit for diff truncation
  out/index.js
  src/index.ts
Due: javascript and typescript label

docs: update README.md to show dual AI support and fallback features
  README.md
Due: markdown label

feat(api): upgrade to Gemini 2.5 Flash and enhance error logging
  out/api/aiClient.js
  out/api/geminiClient.js
  out/index.js
  package-lock-backup.json
  package-lock.json
  src/api/aiClient.ts
  src/api/geminiClient.ts
  src/index.ts
  tes
Due: javascript and typescript label

chore: remove unused package-lock-backup.json
  package-lock-backup.json
  package.json
  tes
Due: none

feat(pr): add support for generating PR from multiple commits
  out/git/gitUtils.js
  out/index.js
  src/git/gitUtils.ts
  src/index.ts
Due: javascript and typescript label

docs: add comprehensive documentation for malas pr dual-mode feature
  README.md
Due: markdown label

chore: bump package version to 1.1.6
  package-lock.json
Due: none

chore: bump package version to 1.1.7
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

feat(pr): add argument base for custom base branch
  out/git/gitUtils.js
  out/index.js
  src/git/gitUtils.ts
  src/index.ts
Due: javascript and typescript label

docs(README): document --base option for custom base branch
  README.md
Due: markdown label

feat: bump package version to 1.1.8
  package.json
Due: none

feat(api): add configurable AI models and improve error messaging
  jest.config.js
  out/api/aiClient.js
  out/api/geminiClient.js
  out/api/groqClient.js
  out/config.js
  out/index.js
  out/services/commitService.js
  package-lock.json
  src/api/aiClient.ts
  src/api/geminiClient.ts
  src/api/groqClient.ts
  src/config.ts
  src/index.ts
  src/services/commitService.ts
  tests/aiClients.test.ts
  tests/commitService.test.ts
Due: javascript and typescript label

fix(api): correct invalid Gemini default model and fallback model propagation
  out/api/aiClient.js
  out/api/geminiClient.js
  out/config.js
  src/api/aiClient.ts
  src/api/geminiClient.ts
  src/config.ts
  tests/aiClient.fallback.test.ts
  tests/aiClients.test.ts
Due: javascript and typescript label

chore: bump package version to 1.2.0
  package-lock.json
  package.json
Due: none

chore(package): remove publish script from package.json
  package.json
Due: none

feat(config): add config list command and formatted display
  README.md
  out/config.js
  out/index.js
  package-lock.json
  package.json
  src/config.ts
  src/index.ts
  tests/config.test.ts
Due: javascript and typescript label, markdown label

chore: add publish script to package.json
  package.json
Due: none

Path conditions:
  javascript and typescript label: any of: \.(js|ts)$
  markdown label: any of: \.md$
